* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top{
    padding-bottom: 99px;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.logo {
    margin-right: 260px;
}

.header__link {
    color: #000;
    text-decoration: none;
}

.header__link__home {
    color: #F25822;
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.main{
    margin-top: 160px;
    margin-bottom: 197px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    margin-bottom: 50px;
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.text{
    margin-bottom: 10px;
}
.main__buttons{
    margin-bottom: 50px;
}

.main {
    margin-top: 50px;
}

.main__info {
    padding-left: 20px;
    padding-right: 40px;
}

.title { 
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-bottom: 17px;
    margin-right: 41px;
}
.text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 97px; 
}

.main__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 163px;
}

.main__buttons{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.button {
    width: 140px;
    height: 50px;
    flex-shrink: 0; 
    border-radius: 50px;
    background: #F25822;
    color: #fff;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    text-align: center;
}

.subbutton {
    width: 140px;
    height: 50px;
    flex-shrink: 0; 
    border-radius: 50px;
    background: none;
    color: #aaa;
    border: none;
    text-align: center;

}

.bottom {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: -103px;
}

.item {
    padding: 30px;
}

.heading {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item__text {
    color: #666;
    font-size: 15px;
    font-style: normal;
}

.item__link {
    text-decoration: none;
    color: #000;
    font-size: 11px;
    font-style: bold;
}

.text__block {
    text-align: center;
    margin-top: 192px;
}

.title__block {
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text__subBlock {
    color: #666;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */ 
    margin-top: 19px;
}

.item__top {
    margin-top: 50px;
    margin-bottom: 192px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 381px);
    align-items: center;
    justify-content: center;
}

.item {
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
    padding-bottom: 25px;
}

.heading {
    padding-top: 25px;
    padding-bottom: 17px;
}

.item__link {
    padding-top: 25px;
}

.item__img {
    padding-top: 40px;
}

.item__bottom {
    margin-top: 55px;
    margin-bottom: 100px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    align-items: center;
    justify-content: center;
}

.heading__big{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.item__big__text {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin-top: 22px;
    margin-left: 30px;
    margin-right: 30px;

}

.button__item__big {
    width: 140px;
    height: 50px;
    flex-shrink: 0; 
    border-radius: 50px;
    background: #F25822;
    color: #fff;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding-top: 15px;
    padding-bottom: 15px; 
    margin-bottom: 50px; 
    margin-top: 54px;
    margin-left: 100px;
    margin-right: 120px;
    
}

.item__big__main {
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
    padding-bottom: 25px;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }
    .top {
        justify-content: center;
        align-items: center;
    }

}