* {
    margin: 0;
    padding: 0;
}

.top{
    padding-bottom: 99px;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
}

.main{
    margin-top: 160px;
    margin-bottom: 197px;
}

.title{
    margin-bottom: 50px;
}

.text{
    margin-bottom: 10px;
}
.main__buttons{
    margin-bottom: 50px;
}