* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Lato', sans-serif;
  }

  .top {
    position: relative;
    overflow: hidden;
  }

  img {
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  .center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
  }

  .header {
    min-height: 75px;
    background: #222222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 41px;
  }

  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 33px;
  }

  .main__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
  }

  .main__top__img {
    width: 50%;
  }

  .main__top__info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 48%;
  }

  .promo__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
  }
  
  .promo__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
  }

  .color__text {
    color: #F16D7F;
  }

  .main__top__content {
    padding-left: 64px;
  }

  .sale {
    display: -ms-grid;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .sale__item {
    position: relative;
  }

  .sale__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .sale__item__big {
    min-height: 180px;
    grid-column: 1 / -1;
  }

  .sale__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }

  .sale__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
  }

  .main__catalog {
    padding-bottom: 96px;
  }

  .catalog__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
  }

  .catalog__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: #9F9F9F;
  }

  .main__catalog__content {
    margin-top: 48px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (360px)[auto-fit];
    grid-template-columns: repeat(auto-fit, 360px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
  }

  .product {
    position: relative;
  }

  .product:hover .product__img {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
  }

  .product__img {
    width: 100%;
  }

  .product__content {
    background: #F8F8F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
  }

  .product__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
  }
  
  .product__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
  }
  
  .product__price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
  }

  .main__button {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }

  .browse__all__product {
    width: 212px;
    height: 48px;
    display: flex;
    border: 1px solid #F16D7F;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    justify-content: center;
    align-items: center;
    gap: 22px;
  }

  @media (max-width: 1024px) {
    .center {
      padding-left: calc(50% - 368px);
      padding-right: calc(50% - 368px);
    }
    .promo__title {
      font-size: 44px;
    }
    .promo__heading {
      font-size: 24px;
    }
    .main__top__content {
      padding-left: 39px;
    }

    .sale__content__big {
      margin-top: -30px;
    }

    .main__catalog__content {
      gap: 16px;
    }
  }